* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    height: 100vh;
    width: 100%;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

section .loader {
    height: 25px;
    width: 25px;
    position: relative;
    animation: rotate 1.5s infinite;
}

.loader .ball {
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
}

.loader .upper {
    top: -25px;
    left: 0;
    background-color: blueviolet;
    animation: upper 1.5s infinite ;
}

@keyframes upper {
   50%, 100%{

     top: 25px;

   }
}


.loader .right {
    top: 0;
    right: -25px;
    background-color: rgb(43, 226, 70);
    animation: right 1.5s infinite ;
}

@keyframes right {
    50%, 100%{

        right: 25px;

    }

}

.loader .lower {
    bottom: -25px;
    left: 0;
    background-color: rgb(226, 43, 43);
    animation: lower 1.5s infinite;
}

@keyframes lower {
    50%,100%{

bottom: 25px;

    }

}


.loader .left {
    left: -25px; 
    top: 0;
    background-color: rgb(59, 31, 239);
    animation: left 1.5s infinite;
}

@keyframes left {
    50%,100%{

left: 25px;

    }

}

@keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}